export AWS_ACCESS_KEY_ID=...
export AWS_SECRET_ACCESS_KEY=...

export JWT_SECRET='...'
export MAIN_DATABASE_MYSQL_PORT='33306'
export DYNAMODB_CURATION_COLLABORATIVE_FILTERING_CACHE_TABLE_NAME='collaborative-filtering-cache-dev'
export DYNAMODB_CURATION_CONTENT_BASED_FILTERING_CACHE_TABLE_NAME='content-based-filtering-cache-dev'

export CELERY_REDIS_PASSWORD=admin123
export CELERY_REDIS_HOST=localhost
export CELERY_REDIS_PORT=6379
export CELERY_REDIS_DB_INDEX=0

export CELERY_RABBITMQ_HOST=localhost
export CELERY_RABBITMQ_PORT=5672
export CELERY_RABBITMQ_USERNAME=guest
export CELERY_RABBITMQ_PASSWORD=guest
